@mixin elr-accordion($config: ()) {
  $config:extend(
    (
      label-color: #333,
      border-radius: 3px,
      color: #fff,
      border-color: #333,
      icon-color: rgb(0, 140, 255)
    ),
    $config
  );

  $label-color: map-get($config, label-color);
  $border-radius: map-get($config, border-radius);
  $color: map-get($config, color);
  $border-color: map-get($config, border-color);
  $icon-color: map-get($config, icon-color);

  margin-top: 10px;
  margin-bottom: 10px;

  .elr-accordion-label,
  .elr-accordion-content {
    background-color: $color;

    @if ($border-color != none) {
      border: 1px solid $border-color;
    }

    @if ($border-radius != 0) {
      border-radius: $border-radius;
    }
  }

  .elr-accordion-label {
    font-size: 18px;
    color: $label-color;
    font-weight: 700;
    position: relative;

    @if ($border-color == none) {
      margin: 0;
      padding: 5px 0;
      padding-left: 15px;
    } @else {
      margin: 0 0 5px;
      padding: 5px 10px;
      padding-left: 30px;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      .elr-accordion-icon {
        transform: rotate(0deg);
      }
    }
  }

  .elr-accordion-icon {
    font-size: 14px;
    font-weight: 700;
    color: $icon-color;
    transform: rotate(-90deg);
    line-height: 1;
    position: absolute;
    top: 9px;
    transition: transform 0.3s ease-in-out;

    @if ($border-color == none) {
      left: 0;
    } @else {
      left: 15px;
    }
  }

  .elr-accordion-content {
    @include elr-slide;
    padding: 0;

    &.active {
      margin-bottom: 5px;

      @if ($border-color == none) {
        padding: 10px 0;
      } @else {
        padding: 20px;
      }
    }

    p {
      margin: 0;
      padding: 5px 0;
    }

    p:first-child {
      padding-top: 0;
    }

    p:last-child {
      padding-bottom: 0;
    }
  }

  .elr-accordion-inner {
    padding: 10px 20px;
  }
}
