@import "elr-scss-functions/src/main";
@import "elr-scss-animations/src/main";

@mixin elr-accordion($config: ()) {
  $config: extend(
    (
      label-color: #333,
      border-radius: 5px,
      color: #fff,
      border-color: #ccc,
      icon-color: rgb(0, 140, 255),
      spacing: 8px,
    ),
    $config
  );

  $label-color: map-get($config, label-color);
  $border-radius: map-get($config, border-radius);
  $color: map-get($config, color);
  $border-color: map-get($config, border-color);
  $icon-color: map-get($config, icon-color);
  $spacing: map-get($config, spacing);

  // margin-top: 8px;
  // margin-bottom: 8px;

  .elr-accordion-label,
  .elr-accordion-content {
    background-color: $color;

    @if ($border-color != none) {
      border: 1px solid $border-color;

      @if ($spacing == 0) {
        border-bottom: 0;
      }
    } @else {
      border: 0;
    }

    @if ($border-radius != 0 and $spacing > 0) {
      border-radius: $border-radius;
    } @else if ($spacing == 0) {
      // $border-radius: 0;
    }
  }

  .elr-accordion-label {
    background: none;
    cursor: pointer;
    width: 100%;

    @if ($border-color == none) {
      margin: 0;
      padding: 8px 0;
      // padding-left: 16px;
    } @else {
      margin: 0 0 $spacing;
      padding: 8px 12px;
    }

    @if ($spacing == 0) {
      border-radius: 0;

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-of-type:not(.active) {
        border-radius: 0 0 $border-radius $border-radius;
        border-bottom: 1px solid $border-color;
      }
    }

    &.active {
      .elr-accordion-icon {
        transform: rotate(0deg);
      }
    }

    .elr-accordion-heading {
      font-size: 18px;
      color: $label-color;
      font-weight: 700;
      display: flex;
      align-items: center;
    }
  }

  .elr-accordion-icon {
    font-size: 14px;
    font-weight: 700;
    color: $icon-color;
    transform: rotate(-90deg);
    line-height: 1;
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;

    @if ($border-color == none) {
      left: 0;
    } @else {
      left: 8px;
    }
  }

  .elr-accordion-content {
    @include elr-slide;
    padding: 0;
    line-height: 1.5;

    &.active {
      margin-bottom: $spacing;

      @if ($border-color != none and $spacing == 0) {
        &:last-child {
          border-bottom: 1px solid $border-color;
          border-radius: 0 0 $border-radius $border-radius;
        }
      }
    }

    p {
      margin: 0;
      // padding: 4px 0;

      @if ($border-color == none) {
        padding: 4px 0;

        &:last-child {
          padding-bottom: 10px;
        }
      } @else {
        padding: 4px 20px;

        &:first-child {
          padding-top: 20px;
        }

        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
  }
}
