@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
@import "elr-scss-animations/src/main";

@mixin elr-accordion($config: ()) {
  $config: extend(
    (
      label-color: $text-color,
      border-radius: $border-radius,
      color: $white,
      border-color: $light-gray,
      icon-color: $primary-color,
      spacing: 8px,
    ),
    $config
  );

  $label-color: map-get($config, label-color);
  $border-radius: map-get($config, border-radius);
  $color: map-get($config, color);
  $border-color: map-get($config, border-color);
  $icon-color: map-get($config, icon-color);
  $spacing: map-get($config, spacing);
  $border: 1px solid $border-color;

  // margin-top: 8px;
  // margin-bottom: 8px;

  .accordion-label,
  .accordion-content {
    background-color: $color;

    @if ($border-color != none) {
      border: $border;

      @if ($spacing == 0) {
        border-bottom: 0;
      }
    } @else {
      border: 0;
    }
  }

  .accordion-label {
    background: none;
    cursor: pointer;
    width: 100%;

    @if ($border-color == none) {
      margin: 0;
      padding: 8px 0;
      // padding-left: 16px;
    } @else {
      margin: 0 0 $spacing;
      padding: 8px 12px;
    }

    @if ($border-radius != 0 and $spacing > 0) {
      border-radius: $border-radius;
    } @else if ($spacing == 0) {
      border-radius: 0;

      &:first-child {
        border-radius: $border-radius $border-radius 0 0;
      }

      &:last-of-type:not(.active) {
        border-radius: 0 0 $border-radius $border-radius;
        border-bottom: $border;
      }
    }

    &.active {
      .accordion-icon {
        transform: rotate(0deg);
      }
    }

    .accordion-heading {
      padding: 0;
      font-weight: 700;
      display: flex;
      align-items: center;
      color: $label-color;
      font-size: 18px;
    }
  }

  .accordion-icon {
    font-size: 14px;
    font-weight: 700;
    color: $icon-color;
    transform: rotate(-90deg);
    line-height: 1;
    margin-right: 8px;
    transition: transform 0.3s ease-in-out;

    @if ($border-color == none) {
      left: 0;
    } @else {
      left: 8px;
    }
  }

  .accordion-content {
    @include elr-slide;
    line-height: 1.5;

    @if ($border-color == none) {
      > div {
        padding: 8px 0;
      }
    } @else {
      > div {
        padding: 16px 24px;
      }
    }

    &.active {
      margin-bottom: $spacing;
      padding: 0;

      @if ($border-color != none and $spacing == 0) {
        border-radius: 0;

        &:last-child {
          border-bottom: $border;

          @if ($border-radius > 0) {
            border-radius: 0 0 $border-radius $border-radius;
          }
        }
      } @else if ($border-radius != 0 and $spacing != 0) {
        border-radius: $border-radius;
      }
    }

    h3 {
      border-bottom: $border;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 4px;
      margin-bottom: 16px;
    }

    p {
      margin: 0;
      padding: 4px 0;
    }
  }
}
