@import "./src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-config/src/main";

@include elr-reset;

* {
  font-family: Roboto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: $border;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  font-size: 36px;
  font-weight: 900;
  border-bottom: $border;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.subheading {
  font-size: 16px;
  color: $primary-color;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.demo-content {
  position: relative;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.accordion {
  max-width: 768px;
  margin: 10px auto;
}

.accordion {
  @include elr-accordion;
}

.accordion-no-spacing {
  @include elr-accordion(
    $config: (
      spacing: 0,
    )
  );
}

.accordion-no-border {
  @include elr-accordion(
    $config: (
      border-color: none,
    )
  );
}
